@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: #3c3535d6;
}

hr {
  width: 100%;
  background: transparent;
}

.row {
  margin: 0;
}

/* --------------------------------Nav Bar*/

.hm-nav {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2A363B;
  position: fixed; 
  top: 0; 
  width: 100%;
  justify-content: center;
  right: 0;
  z-index: 1;
}

.hm-nav a {
  float: left;
  color: #f2f2f2;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  font-family: 'Amatic SC', cursive, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  }

  

/* --------------------------------Special paddings/margins/text*/

.fa-file-download {
  font-size: 20px;
}

.download-icon {
  position: relative;
  bottom: 0.3rem;
}

.section-heading h1 {
  font-family: 'Amatic SC', cursive, sans-serif;
  text-align: center;
  font-size: 5rem;  
  letter-spacing: 0.3rem;
  margin: 25px 0;
  color: #fff;
}

/* --------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: auto;
}

.social-links a:hover {
  color: #e2ce9c;
}

/* --------------------------------Logo*/

.logo-container {
  padding-right: 0;
}

.logo {
  background-color: transparent;
  background-image: url("https://i.ibb.co/X71QhqG/String-Logo-small-removebg-preview.png"); 
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100%;
  margin: 15px 0 0 0;
}

/* --------------------------------Slideshow*/


* {
  box-sizing: border-box;
}

.gallery {
  background: #363636;
  width: 100%;
  padding: 25px 0;
  border: 2px solid white;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

.container img {
  border: 1px solid #fff;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 12px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  border: 1px solid #fff;
}

.caption-container p {
  margin-top: 1rem;
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  color: #fff;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

.thumbnails img {
  width: 100%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* --------------------------------Footer*/

.footer {
  position: absolute;
  width: 100%;
  background-color: #2A363B;
  margin-bottom: 50px;
}

.socials {
  color: #fff;
  font-size: 25px;
}

.social-links {
  text-align: right;
  padding: 0;
  margin: 0;
}

.hot-mass-font {
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-image: url("https://i.ibb.co/QQDk8tK/hotmassfont.png"); 
  background-repeat: no-repeat;
  background-size: contain;
  
}



/*---------------------------------------Band Info*/

.band-text h2 {
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 3rem;
  text-align: center;
  text-decoration-style: wavy;
  letter-spacing: 0.1rem;
  color: #000;
  margin: 10% 0 5%;
}

.band-text p {
  font-family: 'Amatic SC', cursive, sans-serif;
  text-align: center;
  font-size: large;
  line-height: 1.5rem;
  display: inline-block;
  color: #000;
  width: 100%;
  padding: 0 35px 40px;
  margin: auto;
}

.band-list ul {
  font-family: 'Amatic SC', cursive, sans-serif;
  display: table;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 0;
  color: #000;
}

.band-list li {
  list-style-type: none;
}

.list-name {
  float: left;
  padding: 0 25px 0 0;
}

.list-instrument {
  float: right;
  padding: 0 0 0 25px;
}

#the-band {
  background-color: #e2ce9c;
  border: 2px solid black;
  padding: 0;
  
}

#the-sound {
  background-color: #e2ce9c;
  border: 2px solid black;
  padding: 0;
  
}

#the-future {
  background-color: #e2ce9c;
  border: 2px solid black;
  padding: 0;
  
}


/*---------------------------------------Media*/

#media {
  background: #5b5555;
  padding: 25px 0;
}


.music-player {
  background: #5b5555;
  width: 50%;
  margin: 0 auto;
}

.music-player iframe {
  border: 2px solid #fff;
  width: 100%;
  height: 450px;
}

.video-player {
  background: #5b5555;
}

.video-player iframe {
  border: 2px solid #fff;
}

.hm-video {
  padding: 25px 5px;
  width: 25%;
}

.hm-video iframe{
  width: 100%;
  height: 315px;
}

/*---------------------------------------Merch*/

#merch {
  background: #363636;
  padding: 25px 0;
  margin: 0;
}

#merch-image, img {
  width: 100%;
  padding: 0;
}

#merch-image {
  width: 50%;
  margin: 0;
}

.merch {
  background: #b6b787;
  padding: 0;
  margin: auto;
}

.merch-text {
  text-align: center;
  margin: 0 auto;
  border: 2px solid #000;
  background: #e2ce9c;
  width: 50%;
}

.merch-text h2 {
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 3rem;
  text-decoration-style: wavy;
  letter-spacing: 0.1rem;
  color: #000;
  margin: 65px 0 35px;
  width: 100%;
}

.merch-text p {
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: x-large;
  line-height: 1.5rem;
  display: inline-block;
  color: #000;
}

.merch-text a {
  color: #000;
}

.merch-text a:hover {
  color: #85589c;
}

.merch-info {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 2px solid white;
}


/*---------------------------------------Contact*/

.contact {
  background: #5b5555;
  padding: 25px 0;
}

.contact-form {
  color: #fff;
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: larger;
  width: 250px;
  margin: 0 auto;
  padding: 25px 0;
}

#contact {
  background: #5b5555;
  padding: 25px 0;
}

#submit {
  float: right;
}

#submit:hover {
  background-color: #85589c;
}

/*---------------------------------------Media Queries*/

@media (max-width: 768px) {
  .hm-nav a {
    font-size: medium;
    padding: 4px;
    margin: 3px;
    }
}

@media (max-width: 500px) {
  .logo {
      background-size: contain;
    }
}

@media (max-width: 300px) {
  .logo {
      background-size: contain;
    }
}

@media (max-width: 768px) {
  .col-sm-12 {
      flex: 0 0 auto;
      width: 100%;
    }
}

@media (max-width: 768px) {
  .col-sm-6 {
      flex: 0 0 auto;
      width: 70%;
      padding: 10px;
      margin-top: 10px;
    }
}

@media (max-width: 768px) {
  .band-info h2,p {
      margin: 0;
      padding: 5% 0;
    }
}

@media (max-width: 768px) {
  .band-list ul {
      padding: 5% 0;
    }
}

@media (max-width: 768px) {
  .band-info {
      margin-top: 25px;
    }
}

@media (max-width: 768px) {
  .merch h2 {
      margin: 5% 0;
    }
}

@media (max-width: 768px) {
  .band-info br {
      display: none;
    }
}

@media (max-width: 768px) {
  #merch-image {
    flex: 0 0 auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
  #merch-image img {
    width: 75%;
    margin: 0 12.5%;
    }
}

@media (max-width: 768px) {
  .thumbnails {
      display: none;
    }
}

@media (max-width: 768px) {
  #caption {
      margin-top: 0;
    }
}

@media (max-width: 768px) {
  .music-player {
      width: 75%;
    }
}

@media (max-width: 768px) {
  .video-player {
      display: inline-block;
    }
}

@media (max-width: 768px) {
  .hm-video {
      width: 100%;
      padding: 20px 5px;
    }
}